.header {
    display: flex;
    margin-bottom: 50px;
}

.header h1 {
    margin-top: 0px;
}

.header img {
    margin-right: 10px;
    height: 200px;
    width: 150px;
}

.edu-certs {
    justify-content: center;
    display: flex;
}

.edu h4 {
    text-align: center;
}

.certs h4 {
    text-align: center;
}

.biography {
    margin: 0px;
}